* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #fbfafa;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-item {
  width: 60px;
  height: 60px;
}

.nav-links {
  margin: 10px;
  width: 40px;
  height: 40px;
  font-size: 2em;
  text-decoration: none;
}

.user-login-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
}

.user-login-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 5px 5px 2px;
}

.list-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.article-flex-item {
  list-style-type: none;
  align-self: center;
}

.SingleArticle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  justify-content: space-evenly;
}

.single-article-title {
  padding: 20px;
  align-self: center;
}

.single-article-img {
  align-self: center;
  max-width: 900px;
}

.single-article-author-date {
  padding: 10px;
  font-style: italic;
  align-self: center;
}

.single-article-topic {
  padding: 10px;
}

.single-article-votes {
  padding: 10px;
}

.single-article-comments {
  padding: 10px;
}

.single-article-body {
  padding: 10px;
  font-size: large;
  max-width: 700px;
  align-self: center;
}

.single-article-likes-and-comments {
  justify-content: flex-end;
}

.comments-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.comment-flex-item {
  list-style-type: none;
  align-self: center;
  padding: 20px;
  margin: 10px;
  width: 500px;
  border: 2px solid black;
}

.comment-author-date {
  padding: 10px;
  font-style: italic;
}

.user-list-flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.single-user {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 20px;
  width: 150px;
  max-height: 450px;
  justify-content: space-evenly;
}

.user-list-avatar {
  width: 120px;
  height: 120px;
  padding: 10px;
  justify-content: center;
}

.single-user-username,
.single-user-name,
.user-logged-in-as-msg {
  max-width: 120px;
  font-size: 10px;
  align-items: center;
}

.user-pretend-to-be-btn {
  width: 120px;
}
.topic-list-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-topic {
  margin: 20px;
  padding: 10px;
  width: 500px;
  list-style-type: none;
  border: 2px solid black;
  background-color: aquamarine;
  font-weight: 600;
  font-size: 30px;
}

.single-topic:hover {
  cursor: pointer;
}

.single-topic-currently-selected {
  background-color: orange;
}
