* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Header {
  padding: 30px;
}

.list-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.article-flex-item {
  list-style-type: none;
  align-self: center;
}

.article-list-article-img {
  padding: 30px;
  margin-top: 50px;
}

.article-list-article-date {
  font-style: italic;
}

.SingleArticle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  justify-content: space-evenly;
}

.single-article-title {
  padding: 20px;
  align-self: center;
}

.single-article-author-date {
  padding: 10px;
  font-style: italic;
  align-self: center;
}

.single-article-topic {
  padding: 10px;
}

.single-article-votes {
  padding: 10px;
}

.single-article-comments {
  padding: 10px;
}
.single-article-body {
  padding: 10px;
  max-width: 700px;
  align-self: center;
}

.single-article-likes-and-comments {
  justify-content: flex-end;
}
